.viewHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(520px + 1rem);
  /* position: relative; */
}

.menuContainer {
  position: relative;
}

.note {
  border: 1px black solid;
  width: 520px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 4px;
  /* width: 500px; */
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

input.title {
  margin-bottom: 0.5rem;
}

.body {
  /* margin: 4px; */
  padding: 4px;
  /* width: 500px; */
  height: 200px;
  line-height: 1.5rem;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.dateList {
  font-size: 0.8rem;
  /* line-height: 1rem; */
}

.categories {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0px;
}
.categories li {
  background-color: rgb(180, 183, 226);
  padding: 4px 6px;
  border-radius: 4px;
}

.categories a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

.categories li:hover {
  background-color: rgb(196, 199, 245);
}

.edit-note .submit-button {
  width: 200px;
  margin: 0.5rem;
  padding: 0.2rem;
}

.add-note .add-button {
  width: 200px;
  margin: 0.5rem;
  padding: 0.2rem;
}
