.categoriesView {

}

.categoriesView li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(55 55 55);
}

.categoriesView li a:hover {
  color: rgb(80, 80, 80);
  text-decoration: underline;
}