.headerContainer {
  background-color: var(--off-white);
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 0;
}

.sitename {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--off-black);
  padding: 4px;
  border-radius: 20px;
}

.sitename:hover {
  background-color: var(--secondary-lighter);
}
.rightSide {
  font-size: 1.6rem;
  margin: 0;
  display: flex;
  gap: 4px;
}

.home a:hover {
  /* color: rgb(80, 80, 80); */
}

.home {
  border-bottom: 2px transparent solid;
  padding: 2px 4px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

/* .h1:hover,
.rightSide:hover {
  border-bottom: 2px #222222 solid;
}

.h1:active,
.rightSideh1:hover {
  border-bottom: 2px #222222 solid;
  background-color: rgb(250, 248, 248);
} */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
