.view {
  /* min-height: calc(100vh - 50px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

/* .landing {
  margin-top: 0;
} */

.loginForm {
  display: flex;
  flex-direction: column;
  width: calc(256px + 24px * 2);
  background-color: var(--off-white);
  padding: 24px;
  margin: 0 auto;
  box-shadow:
    hsl(0deg 0% 0% / 15%) 0px 10px 20px,
    hsl(0deg 0% 0% / 10%) 0px 3px 6px;
}

.formLabel {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.inputLabel {
  margin-top: 10px;
}

.loginInput {
  margin: 0;
  line-height: 1.5em;
  width: 256px;
  /* margin-top: 10px; */
}

.loginInput.invalid {
  border-color: red;
}

.inputError {
  font-size: 14px;
  color: hsl(0, 81%, 36%);
  /* margin-bottom: 8px; */
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.passwordCheckbox {
  position: absolute;
  z-index: 10;
  width: 1.2rem;
  height: 1.2rem;
}

.passwordCheckbox:hover {
  cursor: pointer;
}

.formButton {
  margin-top: 20px;
}

.extraText {
  font-size: 0.8rem;
  margin-top: 8px;
  align-self: center;
}
