:root {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  /* margin: 0 auto; */
  /* max-width: 100%; */
  /* width: 1126px; */
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f9ff;
}

.page {
  min-height: 100vh;
}

.outletBody {
  margin: 0 auto;
  width: min(1200px, 100%);
}

.aFont {
  color: rgb(55 55 55);
}

.aFont:hover {
  color: rgb(80, 80, 80);
}
