:root {
font-family: Arial, Helvetica, sans-serif;
}

#root {
  /* margin: 0 auto; */
  /* max-width: 100%; */
  /* width: 1126px; */
  box-sizing: border-box;
}

body {
  margin: 0;
}

.outlet-body {
  margin: 4px;
}