.main-menu {
  display: flex;
  flex-direction: column;
  width: 160px;
  top: 8px;
  left: 8px;
}

.main-menu-icon {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
}

.main-menu-icon:hover {
  cursor: pointer;
  background-color: azure;
}

.main-menu-icon:active {
  cursor: pointer;
  background-color: rgb(252, 255, 240);
}

.main-menu {
  position: absolute;
}