.view-note {
  border: 1px black solid;
  width: 520px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.note-title {
  margin: 4px;
  padding: 4px;
  width: 500px;
  line-height: 1.5rem;
}

.note-body {
  margin: 4px;
  padding: 4px;
  width: 500px;
  height: 200px;
  line-height: 1.5rem;
}


