.multi-notes-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.note {
  border: black 1px solid;
  padding: 6px;
  margin: 6px;
  line-height: 1.2rem;
  width: calc(100vw / 3 - 40px);
  max-height: 200px;
  word-break: break-all;
 }

 .multi-notes-view a:link, 
 .multi-notes-view a:active, 
 .multi-notes-view a:hover, 
 .multi-notes-view a:visited {
  color: black;
  text-decoration: none;
}

.multi-notes-view .note:hover {
  background-color: azure;
}

.multi-notes-view .note:active {
  background-color: rgb(252, 255, 240);
}