.addPlusButton:link,
.addPlusButton:active,
.addPlusButton:hover,
.addPlusButton:visited {
  text-decoration: none;
  color: black;
}

.addPlusButton div:hover {
  background-color: var(--darker);
}

.addPlusButton div:active {
  background-color: rgb(123, 246, 213);
}

.addPlusButton div {
  background-color: var(--primary);
  width: calc(4rem + 4px);
  border-radius: 50%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
